<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{adminName}},</p>
  <p style="color: #333; margin-bottom: 10px">We hope this message finds you well. We recently attempted to process an payment of {{amount}} {{currency}} to top up your account {{platformId}} balance, but unfortunately, the payment No. {{receiptNumber}} failed.</p>
  <p style="color: #333; margin-bottom: 10px">If you've recently made a payment, please disregard this email.</p>
  <p style="color: #333; margin-bottom: 10px">If you have any questions or need assistance with the top-up process, feel free to contact us at support@linguafrancahub.com.</p>
  <p style="color: #333; margin-bottom: 10px">Thank you for your prompt attention to this matter, and we appreciate your continued trust in LFH.</p>
  <p style="color: #333; margin-bottom: 10px">Kind Regards,</p>
  <p style="color: #333; margin-bottom: 10px">LFH Support Team</p>
</div>