<table
  width="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="margin-left: auto; margin-right: auto"
>
  <tr>
    <td>
      <table
        width="600"
        cellpadding="0"
        cellspacing="0"
        border="0"
        align="center"
        style="background-color: #ffffff"
      >
        <tr>
          <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td colspan="2" style="padding-top: 40px"></td>
              </tr>
              <tr>
                <td style="text-align: left" valign="top">
                  <img
                    src="https://{{mediaBucket}}.s3.ap-southeast-2.amazonaws.com/email-templates/logo-with-name.png"
                    alt="Labeled Logo"
                    style="width: 140px"
                  />
                </td>
                <td style="text-align: right">
                  <div style="text-align: right">
                    <p style="font-size: 35px">TAX INVOICE</p>
                    <br />
                    <b>From: {{lfhCompanyData.companyName}}</b><br />
                    <p>ABN {{lfhCompanyData.abnNumber}}</p>
                    <p>{{lfhCompanyData.companyAddress}}</p>
                    <b>To: {{recipientData.recipientName}}</b><br />
                    <b>(Client ID {{recipientData.recipientId}})</b><br />
                    <p>{{recipientData.recipientAddress}}</p>
                    <br />
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333; line-height: 1.4">
              Invoice Number {{appointment.platformId}} - PAID
            </h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0"
            >
              <thead>
                <tr>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Currency
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Date of Issue
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Total
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    GST Amount
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Invoice Total
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Amount Paid
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Amount Due
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{data.issueDate}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{payment.totalAmount}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{payment.totalGstAmount}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{payment.totalFullAmount}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{#if payment.totalFullAmount}}-{{payment.totalFullAmount}}{{else}}0{{/if}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{"0.00"}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333; line-height: 1.4">Payment</h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0"
            >
              <thead>
                <tr>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Date
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Description
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Payment Total
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    This Invoice
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{data.issueDate}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{recipientData.description}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{#if payment.totalFullAmount}}-{{payment.totalFullAmount}}{{else}}0{{/if}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{payment.totalFullAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333; line-height: 1.4">Details</h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0"
            >
              <thead>
                <tr>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Booking ID
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Service
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Topic
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Date & Time
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Interpreter ID
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Duration in minutes
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Total
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{appointment.platformId}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{data.appointmentServiceType}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{appointment.topic}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{data.appointmentDate}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{data.interpreter}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{data.totalDuration}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{payment.currency}} {{payment.totalFullAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333">
              Discount Applied (Memberships, Promo codes)
            </h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0; font-size: 14px"
            >
              <thead>
                <tr>
                  <th style="padding: 8px">Discount Type (Membership/Promo code)</th>
                  <th style="padding: 8px">Discount ID</th>
                  <th style="padding: 8px">Discount applied</th>
                  <th style="padding: 8px">Discount amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="padding: 8px">Estimated Cost</td>
                  <td style="padding: 8px"></td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{payment.estimatedCostAmount}}
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      font-weight: bold;
                    "
                  >
                    Actual time
                  </td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      font-weight: bold;
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{payment.totalAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Promo Code</td>
                  <td style="padding: 8px">{{#if discountSummary.discountRate.promoCode}}{{discountSummary.discountRate.promoCode}}{{/if}}</td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
										{{#if discountSummary.promoCodeDiscountDescription}}{{discountSummary.promoCodeDiscountDescription}}{{/if}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{#if discountSummary.promoCodeDiscountDescription}}{{discountSummary.promoCodeDiscountDescription}}{{/if}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Mixed Promo code</td>
                  <td style="padding: 8px">{{#if discountSummary.discountRate.promoCode}}{{discountSummary.discountRate.promoCode}}{{/if}}</td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
										{{#if discountSummary.mixedPromoCodeDescription}}{{discountSummary.mixedPromoCodeDescription}}{{/if}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{#if discountSummary.appliedDiscounts.promoCampaignDiscount}}{{discountSummary.appliedDiscounts.promoCampaignDiscount}}{{/if}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Membership</td>
                  <td style="padding: 8px">{{#if discountSummary.membershipDescription}}{{discountSummary.membershipDescription}}{{/if}}</td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
										{{#if discountSummary.membershipDiscountDescription}}{{discountSummary.membershipDiscountDescription}}{{/if}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{#if discountSummary.appliedDiscounts.membershipDiscount}}{{discountSummary.appliedDiscounts.membershipDiscount}}{{/if}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Sub-total</td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      font-weight: bold;
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{payment.totalAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">GST</td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{payment.totalGstAmount}}
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      font-weight: bold;
                      padding: 8px;
                    "
                  >
                    Total cost
                  </td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      font-weight: bold;
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{payment.currency}} {{payment.totalFullAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
