<table
  width="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="margin-left: auto; margin-right: auto"
>
  <tr>
    <td>
      <table
        width="600"
        cellpadding="0"
        cellspacing="0"
        border="0"
        align="center"
        style="background-color: #ffffff"
      >
        <tr>
          <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td colspan="2" style="padding-top: 40px"></td>
              </tr>
              <tr>
                <td style="text-align: left" valign="top">
                  <img
                    src="https://{{mediaBucket}}.s3.ap-southeast-2.amazonaws.com/email-templates/logo-with-name.png"
                    alt="Labeled Logo"
                    style="width: 140px"
                  />
                </td>
                <td style="text-align: right">
                  <div style="text-align: right">
                    <p style="font-size: 35px">TAX INVOICE</p>
                    <br />
                    <b>From: {{fromCompanyName}}</b><br />
                    <p>ABN {{fromCompanyABNNumber}}</p>
                    <p>{{fromCompanyAddress}}</p>
                    <b>To: {{toUserName}}</b><br />
                    <b>(Client ID {{toClientId}})</b><br />
                    <p>{{toAddress}}</p>
                    <br />
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333; line-height: 1.4">
              Invoice Number {{receiptNumber}} - PAID
            </h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0"
            >
              <thead>
                <tr>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Currency
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Date of Issue
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Total
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    GST Amount
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Invoice Total
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Amount Paid
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Amount Due
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{issueDate}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{total}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{gstAmount}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{invoiceTotal}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{amountPaid}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{amountDue}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333; line-height: 1.4">Payment</h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0"
            >
              <thead>
                <tr>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Date
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Description
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Payment Total
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    This Invoice
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{paymentDate}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{paymentDescription}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{paymentTotal}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{thisInvoiceAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333; line-height: 1.4">Details</h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0"
            >
              <thead>
                <tr>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Booking ID
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Service
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Topic
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Date & Time
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Interpreter ID
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Duration in minutes
                  </th>
                  <th
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    Total
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{bookingId}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{service}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{topic}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{appointmentDate}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{interpreterId}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{duration}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                      font-size: 14px;
                    "
                  >
                    {{currency}} {{invoiceTotal}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <h3 style="font-family: Arial, sans-serif; color: #333">
              Discount Applied (Memberships, Promo codes)
            </h3>
            <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              border="1"
              style="border-collapse: collapse; margin: 20px 0; font-size: 14px"
            >
              <thead>
                <tr>
                  <th style="padding: 8px">Discount Type (Membership/Promo code)</th>
                  <th style="padding: 8px">Discount ID</th>
                  <th style="padding: 8px">Discount applied</th>
                  <th style="padding: 8px">Discount amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="padding: 8px">Estimated Cost</td>
                  <td style="padding: 8px"></td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{estimatedCostAmount}}
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      font-weight: bold;
                    "
                  >
                    Actual time
                  </td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      font-weight: bold;
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{actualTimeAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Promo Code</td>
                  <td style="padding: 8px">{{promoCodeName}}</td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{promoCodeDiscount}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{promoCodeDiscountAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Mixed Promo code</td>
                  <td style="padding: 8px">{{mixedPromoCodeName}}</td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{mixedPromoCodeDescription}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{mixedPromoCodeDiscountAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Membership</td>
                  <td style="padding: 8px">{{membershipDescription}}</td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{membershipDiscount}}
                  </td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{membershipDiscountAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">Sub-total</td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      font-weight: bold;
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{subTotalAmount}}
                  </td>
                </tr>
                <tr>
                  <td style="padding: 8px">GST</td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{gstAmount}}
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      font-weight: bold;
                      padding: 8px;
                    "
                  >
                    Total cost
                  </td>
                  <td style="padding: 8px"></td>
                  <td
                    style="
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  ></td>
                  <td
                    style="
                      font-weight: bold;
                      padding-top: 8px;
                      padding-bottom: 8px;
                      padding-left: 2px;
                      padding-right: 2px;
                      text-align: center;
                    "
                  >
                    {{currency}} {{totalAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
