<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear {{userName}},</p>
  <p style="color: #333; margin-bottom: 10px"> We’re writing to inform you about an upcoming change to the terms and conditions of your <strong>{{membershipType}}</strong> Membership with Lingua Franca Hub (LFH), effective <strong>{{endDate}}</strong>
  </p>
  <p style="font-weight: bold; margin-bottom: 10px">What’s Changing?</p>
  <p style="color: #333; margin-bottom: 10px">The monthly fee for your membership will be updated.Your current subscription will remain at the original price until the end of your current billing period, which ends on <strong>{{endDate}}</strong>. </p>
  <p style="color: #333; margin-bottom: 10px">Starting with your next renewal, the updated price of <strong>${{newPrice}}</strong> will take effect. </p>
  <p style="font-weight: bold; margin-bottom: 10px">Why Are These Changes Happening?</p>
  <p style="color: #333; margin-bottom: 10px">We are making this adjustment to continue enhancing the value of your membership and to ensure we deliver the highest-quality experience to our members.</p>
  <p style="font-weight: bold; margin-bottom: 10px">What Do You Need to Do?</p>
  <p style="color: #333; margin-bottom: 10px">If you have any questions or concerns, feel free to contact us at enquiriet@linguafrancahub.com.</p>
  <p style="color: #333; margin-bottom: 10px">We are committed to providing you with exceptional service and are confident that these changes will increase the value of your membership. </p>
  <p style="color: #333; margin-bottom: 10px">Thank you for being a valued member of LFH.</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>