<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear LFH Super Admin,</p>
  <p style="color: #333; margin-bottom: 10px">A new company registration request has been submitted through the Lingua Franca Hub platform and requires your attention.</p>
  <p style="color: #333; margin-bottom: 10px">Here are the details provided by the requester:</p>
  <ul style="
					list-style-type: disc;
					padding-left: 20px;
					color: #333;
					margin-bottom: 30px;">
    <li style="margin-bottom: 5px">
      <strong>Company Name:</strong>
      {{companyName}}
    </li>
    <li style="margin-bottom: 5px">
      <strong>Phone Number:</strong>
      {{phoneNumber}}
    </li>
    <li style="margin-bottom: 5px">
      <strong>Country:</strong>
      {{country}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Contact Person’s Name:</strong>
      {{contactPersonName}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Contact Email:</strong>
      {{contactEmail}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Industry:</strong>
      {{industry}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Number Of Employees:</strong>
      {{numberOfEmployees}}.
    </li>
  </ul>
  <p style="color: #333; margin-bottom: 10px">Please review the provided information and take the necessary actions to proceed with the request. </p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>