<div style="padding: 20px">
  <p style="font-weight: bold; margin-bottom: 20px">Dear Company Admin,</p>
  <p style="color: #333; margin-bottom: 10px">Thank you for submitting your registration request with
    <strong>Lingua Franca Hub.</strong></p>
  <p style="color: #333; margin-bottom: 10px">We are pleased to confirm that we have successfully received your request,
    and it will be reviewed by the LFH Admin Team as soon as possible.</p>
  <p style="color: #333; margin-bottom: 10px">Below is the information you provided:</p>
  <ul
    style="
					list-style-type: disc;
					padding-left: 20px;
					color: #333;
					margin-bottom: 30px;"
  >
    <li style="margin-bottom: 5px">
      <strong>Company Name:</strong>
      {{companyName}}
    </li>
    <li style="margin-bottom: 5px">
      <strong>Phone Number:</strong>
      {{phoneNumber}}
    </li>
    <li style="margin-bottom: 5px">
      <strong>Country:</strong>
      {{country}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Contact Person’s Name:</strong>
      {{contactPersonName}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Contact Email:</strong>
      {{contactEmail}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Industry:</strong>
      {{industry}}.
    </li>
    <li style="margin-bottom: 5px">
      <strong>Number Of Employees:</strong>
      {{numberOfEmployees}}.
    </li>
  </ul>
  <p style="color: #333; margin-bottom: 10px">If any of this information is incorrect or needs to be updated, please
    contact us at:
  </p>
  <p style="color: #333; margin-bottom: 10px"><strong>Email: support@linguafrancahub.com</strong></p>
  <p style="color: #333; margin-bottom: 10px">We look forward to assisting you soon!</p>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="left" style="color: #333333; font-size: 16px; line-height: 1.6; padding-top: 40px;"> Best regards, <br /> The LFH Support team. </td>
    </tr>
  </table>
</div>